extends layout

block content
    .block-header
        h2
            | JQUERY DATATABLES #{title}
            small
                | Taken from 
                a(href='https://datatables.net/', target='_blank') datatables.net
    
    // Exportable Table
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .card
                .header
                    h2
                        | EXPORTABLE TABLE
                    ul.header-dropdown.m-r--5
                        li.dropdown
                            a.dropdown-toggle(href='javascript:void(0);', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                i.material-icons more_vert
                            ul.dropdown-menu.pull-right
                                li
                                    a(href='javascript:void(0);') Action
                                li
                                    a(href='javascript:void(0);') Another action
                                li
                                    a(href='javascript:void(0);') Something else here
                .body
                    .table-responsive
                        table.table.table-bordered.table-striped.table-hover.dataTable.js-exportable
                            thead
                                tr
                                    th Nombre
                                    th Apellido P.
                                    th Apellido M.
                                    th Última Modificación
                            tfoot
                                tr
                                    th Nombre
                                    th Apellido P.
                                    th Apellido M.
                                    th Última Modificación
                            tbody
                                each person in persons
                                    tr
                                        td=person.name
                                        td=person.paternalLastName
                                        td=person.maternalLastName
                                        td=person.lastUpdate
                                        