.table-responsive
    table#dataTableAdminTeacher.table.table-bordered.table-striped.table-hover.dataTable.js-exportable
        thead
            tr
                th Nº
                th Apellidos y Nombres
                th Adelantos
                th Pensión Escolar
                th Librería y uniformes
                th Canastones
                th Día del padre
                th Cumpleaños Pasanaku
                th Uniforme
                th Total
        tfoot
            tr
                th Nº
                th Apellidos y Nombres
                th Adelantos
                th Pensión Escolar
                th Librería y uniformes
                th Canastones
                th Día del padre
                th Cumpleaños Pasanaku
                th Uniforme
                th Total
        tbody
            -var n = 1
            each teacher in teachers
                tr
                    td=n
                    td=`${(teacher.person.paternalLastName) ? teacher.person.paternalLastName : ""} ${(teacher.person.maternalLastName) ? teacher.person.maternalLastName : ""} ${(teacher.person.firstName) ? teacher.person.firstName : ""} ${(teacher.person.secondName) ? teacher.person.secondName : ""}`
                    td(id="value0-" + teacher.id, data-id=teacher.id).only-numbers.editable-admin-teacher(contenteditable='true')
                    td(id="value1-" + teacher.id, data-id=teacher.id).only-numbers.editable-admin-teacher(contenteditable='true')
                    td(id="value2-" + teacher.id, data-id=teacher.id).only-numbers.editable-admin-teacher(contenteditable='true')
                    td(id="value3-" + teacher.id, data-id=teacher.id).only-numbers.editable-admin-teacher(contenteditable='true')
                    td(id="value4-" + teacher.id, data-id=teacher.id).only-numbers.editable-admin-teacher(contenteditable='true')
                    td(id="value5-" + teacher.id, data-id=teacher.id).only-numbers.editable-admin-teacher(contenteditable='true')
                    td(id="total-" + teacher.id)=0
                -n++
            each admin in admins
                tr
                    td=n
                    td=`${(admin.person.paternalLastName) ? admin.person.paternalLastName : ""} ${(admin.person.maternalLastName) ? admin.person.maternalLastName : ""} ${(admin.person.firstName) ? admin.person.firstName : ""} ${(admin.person.secondName) ? admin.person.secondName : ""}`
                    td(id="value0-" + admin.id, data-id=admin.id).only-numbers.editable-admin-teacher(contenteditable='true')
                    td(id="value1-" + admin.id, data-id=admin.id).only-numbers.editable-admin-teacher(contenteditable='true')
                    td(id="value2-" + admin.id, data-id=admin.id).only-numbers.editable-admin-teacher(contenteditable='true')
                    td(id="value3-" + admin.id, data-id=admin.id).only-numbers.editable-admin-teacher(contenteditable='true')
                    td(id="value4-" + admin.id, data-id=admin.id).only-numbers.editable-admin-teacher(contenteditable='true')
                    td(id="value5-" + admin.id, data-id=admin.id).only-numbers.editable-admin-teacher(contenteditable='true')
                    td(id="total-" + admin.id)=0
                -n++