extends ../layout

block styles
    style.
        .dataTables_filter {
            float: left !important;
        }
        .button-demo{
            margin-top: 8px;
        }
        .buttons .btn {
            margin-right: 8px;
            margin-bottom: 13px;
            min-width: 120px;
        }
block content
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .card
                .header
                    div(style="display: -webkit-inline-box")
                        h2 #{title} mes de                    
                            select#monthSelect.select.form-control
                                option(value='1', selected=date.getUTCMonth()===0) Enero
                                option(value='2', selected=date.getUTCMonth()===1) Fefrero
                                option(value='3', selected=date.getUTCMonth()===2) Marzo
                                option(value='4', selected=date.getUTCMonth()===3) Abril
                                option(value='5', selected=date.getUTCMonth()===4) Mayo
                                option(value='6', selected=date.getUTCMonth()===5) Junio
                                option(value='7', selected=date.getUTCMonth()===6) Julio
                                option(value='8', selected=date.getUTCMonth()===7) Agosto
                                option(value='9', selected=date.getUTCMonth()===8) Septiembre
                                option(value='10', selected=date.getUTCMonth()===9) Octubre
                                option(value='11', selected=date.getUTCMonth()===10) Noviembre
                                option(value='12', selected=date.getUTCMonth()===11) Diciembre
                            | de 
                            select#yearSelect.select.form-control
                                option(value='2018', selected=date.getFullYear()===2018) 2018
                                option(value='2019', selected=date.getFullYear()===2019) 2019
                    .button-demo
                        button#saveBtn.btn.btn-success.waves-effect(type='button')
                            i.material-icons save
                            |  Guardar
                        a#exportBtn.btn.btn-primary.waves-effect(href='javascript:void(0);', disabled="disabled")
                            i.material-icons get_app
                            |  Exportar a excel
                .body
                    ul#templateTabs.nav.nav-tabs.tab-nav-right(role='tablist')
                        li.active(role='presentation')
                            a(href='#supportTab', data-toggle='tab')
                                i.material-icons mood
                                | Descuentos Personal Soporte
                        li(role='presentation')
                            a(href='#adminTab', data-toggle='tab')
                                i.material-icons school
                                | Descuentos Personal Administrativo y Docentes
                        li(role='presentation')
                            a(href='#templateTab', data-toggle='tab')
                                i.material-icons attach_money
                                | Planilla de Sueldo
                    .tab-content
                        #supportTab.tab-pane.fade.in.active(role='tabpanel')
                            include ./support
                        #adminTab.tab-pane.fade(role='tabpanel')
                            include ./admin-teacher
                        #templateTab.tab-pane.fade(role='tabpanel')
                            include ./template
block scripts
    script(src='/js/template/support.js')
    script(src='/js/template/admin-teacher.js')
    script(src='/js/template/template.js')
    script.
        $("#saveBtn").click(function(){
            var discountSupport = tableToJson(document.getElementById("dataTableSupport"));
            var discountAdminTeacher = tableToJson(document.getElementById("dataTableAdminTeacher"));
            var finalTemplate = tableToJson(document.getElementById("dataTableTemplate"));
            var data = {
                date: new Date($("#yearSelect").val(), $("#monthSelect").val(), 0),
                discountSupport: discountSupport,
                discountAdminTeacher: discountAdminTeacher,
                finalTemplate: finalTemplate
            }
            $.post({
                url: "#{url}",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function(result, textStatus, xhr){
                    switch (xhr.status){
                        case 201:
                            notify(result.message, result.success, xhr.getResponseHeader("Location"));
                            $("#exportBtn").attr("href", xhr.getResponseHeader("Location")).removeAttr("disabled");
                        break;
                        default:
                            console.log(result, textStatus, xhr)
                        break;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown){
                    console.log(XMLHttpRequest, textStatus, errorThrown)
                }
            })
        });

        $(".select").selectpicker({
            width: "200px"
        });

        $(".only-numbers").keydown(function(event) {
            if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 110 || event.keyCode == 190 ||
                (event.keyCode == 65 && event.ctrlKey === true) || 
                (event.keyCode >= 35 && event.keyCode <= 39)  ) {
                return;
            } else {
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault(); 
                }
            }
        });        

        function tableToJson(table) { 
            var data = [];
            var headers = [];
            var index = 0;
            for (var i=0; i<table.rows[0].cells.length; i++) {
                if (i === 0){
                    headers[index] = "id";
                    headers[index + 1] = table.rows[0].cells[i].dataset.key;
                    index++;
                }else{
                    headers[index] = table.rows[0].cells[i].dataset.key;
                }
                index++;
            }            
            for (var i=1; i<table.rows.length - 1; i++) {
                index = 0;
                var tableRow = table.rows[i]; var rowData = {};
                for (var j=0; j<tableRow.cells.length; j++) { 
                    var value = tableRow.cells[j].innerHTML;
                    if (value ==="") value = 0;
                    if (j ===0) {
                        rowData[ headers[index] ] = tableRow.cells[j].dataset.id;
                        rowData[ headers[index + 1] ] = value;
                        index++;
                    }else{
                        rowData[ headers[index] ] = value;
                    }
                    index++;
                }
                data.push(rowData); 
            } 
            return data;
        }