.table-responsive
    table#dataTableSupport.table.table-bordered.table-striped.table-hover.dataTable.js-exportable
        thead
            tr
                th Nº
                th Apellidos y Nombres
                th Adelantos
                th Pensión Escolar
                th Librería
                th Canastones
                th Cumpleaños del día del padre
                th Descuento uniforme
                th Total
        tfoot
            tr
                th Nº
                th Apellidos y Nombres
                th Adelantos
                th Pensión Escolar
                th Librería
                th Canastones
                th Cumpleaños del día del padre
                th Descuento uniforme
                th Total
        tbody
            -var n = 1
            each worker in supports
                tr(id=`discountRow-${worker.id}`)
                    td=n
                    td=`${(worker.person.paternalLastName) ? worker.person.paternalLastName : ""} ${(worker.person.maternalLastName) ? worker.person.maternalLastName : ""} ${(worker.person.firstName) ? worker.person.firstName : ""} ${(worker.person.secondName) ? worker.person.secondName : ""}`
                    td(id=`value0-${worker.id}`, data-id=worker.id, contenteditable='true').only-numbers.editable-support
                    td(id=`value1-${worker.id}`, data-id=worker.id, contenteditable='true').only-numbers.editable-support
                    td(id=`value2-${worker.id}`, data-id=worker.id, contenteditable='true').only-numbers.editable-support
                    td(id=`value3-${worker.id}`, data-id=worker.id, contenteditable='true').only-numbers.editable-support
                    td(id=`value4-${worker.id}`, data-id=worker.id, contenteditable='true').only-numbers.editable-support
                    td(id=`value5-${worker.id}`, data-id=worker.id, contenteditable='true').only-numbers.editable-support
                    td(id=`total-${worker.id}`)=0
                -n++