.table-responsive
    table#dataTableSupport.table.table-bordered.table-striped.table-hover.dataTable.js-exportable
        thead
            tr
                th Nº
                th Apellidos y Nombres
                th Adelantos
                th Pensión Escolar
                th Librería
                th Canastones
                th Cumpleaños del día del padre
                th Descuento uniforme
                th Total
        tfoot
            tr
                th Nº
                th Apellidos y Nombres
                th Adelantos
                th Pensión Escolar
                th Librería
                th Canastones
                th Cumpleaños del día del padre
                th Descuento uniforme
                th Total
        tbody
            -var n = 1
            each support in supports
                tr
                    td=n
                    td=`${(support.person.paternalLastName) ? support.person.paternalLastName : ""} ${(support.person.maternalLastName) ? support.person.maternalLastName : ""} ${(support.person.firstName) ? support.person.firstName : ""} ${(support.person.secondName) ? support.person.secondName : ""}`
                    td(id="value0-" + support.id, data-id=support.id).only-numbers.editable-support(contenteditable='true')
                    td(id="value1-" + support.id, data-id=support.id).only-numbers.editable-support(contenteditable='true')
                    td(id="value2-" + support.id, data-id=support.id).only-numbers.editable-support(contenteditable='true')
                    td(id="value3-" + support.id, data-id=support.id).only-numbers.editable-support(contenteditable='true')
                    td(id="value4-" + support.id, data-id=support.id).only-numbers.editable-support(contenteditable='true')
                    td(id="value5-" + support.id, data-id=support.id).only-numbers.editable-support(contenteditable='true')
                    td(id="total-" + support.id)=0
                -n++