.table-responsive
    table#dataTableTemplate.table.table-bordered.table-striped.table-hover.dataTable.js-exportable
        thead
            tr
                th(data-key="pos") Nº
                th(data-key="identification") Carnet de identidad
                th(data-key="identificationExt") Ext.
                th(data-key="paternalLastName") Primer Apellido
                th(data-key="maternalLastName") Segundo Apellido
                th(data-key="marriedLastName") Apellido de Casada
                th(data-key="firstName") Nombre 1
                th(data-key="secondName") Nombre 2
                th(data-key="nationality") Nacionalidad
                th(data-key="birthday") Fecha de nacimiento
                th(data-key="sex") Sexo
                th(data-key="charge") Cargo
                th(data-key="startDate") Fecha de ingreso
                th(data-key="valueSalary") Haber anterior
                th(data-key="valueIncrement") Incremento 2018
                th(data-key="valueOtherBonus") Otros bonos
                th(data-key="valueTotalGain") Total ganado
                th(data-key="valueAFPDiscount") Descuento AFP (12.71%)
                th(data-key="valueOtherDiscount") Otros descuentos
                th(data-key="valueOtherDiscountBtn") Detalle de descuentos
                th(data-key="valueTotalDiscount") Total descuentos
                th(data-key="valueLiquidPayable") Líquido pagable
                th(data-key="pos") Nº
        tfoot
            tr
                th Nº
                th Carnet de identidad
                th Ext.
                th Primer Apellido
                th Segundo Apellido
                th Apellido de Casada
                th Nombre 1
                th Nombre 2
                th Nacionalidad
                th Fecha de nacimiento
                th Sexo
                th Cargo
                th Fecha de ingreso
                th Haber anterior
                th Incremento 2018
                th Otros bonos
                th Total ganado
                th Descuento AFP (12.71%)
                th Otros descuentos
                th Detalle de descuentos
                th Total descuentos
                th Líquido pagable
                th Nº
        tbody
            -var n = 1
            each worker in supports
                -var increment = worker.salary * 0.055
                -var totalGain = worker.salary + increment
                -var afpDiscount = totalGain * 0.1271
                -var liquidPayable = totalGain - afpDiscount
                tr
                    td=n
                    td=worker.person.identification
                    td=worker.person.identificationExt
                    td=worker.person.paternalLastName
                    td=worker.person.maternalLastName
                    td=worker.person.marriedLastName
                    td=worker.person.firstName
                    td=worker.person.secondName
                    td=worker.person.nationality
                    td=worker.person.birthday
                    td=worker.person.sex
                    td=worker.charge
                    td=worker.startDate
                    td(id=`valueSalary-${worker.id}`)=worker.salary
                    td(id=`valueIncrement-${worker.id}`, data-id=worker.id)=increment
                    td(id=`valueOtherBonus-${worker.id}`, data-id=worker.id, contenteditable='true').only-numbers.editable-cell.editable-other-bonus
                    td(id=`valueTotalGain-${worker.id}`, data-id=worker.id)=totalGain
                    td(id=`valueAFPDiscount-${worker.id}`, data-id=worker.id)=afpDiscount
                    td(id=`valueOtherDiscount-${worker.id}`, data-id=worker.id)=0
                    td
                        span.btn.btn-primary.waves-effect.goToCell(data-id=worker.id, data-tab="supportTab")
                            i.material-icons arrow_back
                            span Ver en planilla
                    td(id=`valueTotalDiscount-${worker.id}`, data-id=worker.id)=afpDiscount
                    td(id=`valueLiquidPayable-${worker.id}`, data-id=worker.id)=liquidPayable
                    td=n
                -n++
            each worker in teachers
                -var increment = worker.salary * 0.055
                -var totalGain = worker.salary + increment
                -var afpDiscount = totalGain * 0.1271
                -var liquidPayable = totalGain - afpDiscount
                tr
                    td=n
                    td=worker.person.identification
                    td=worker.person.identificationExt
                    td=worker.person.paternalLastName
                    td=worker.person.maternalLastName
                    td=worker.person.marriedLastName
                    td=worker.person.firstName
                    td=worker.person.secondName
                    td=worker.person.nationality
                    td=worker.person.birthday
                    td=worker.person.sex
                    td=worker.charge
                    td=worker.startDate
                    td(id=`valueSalary-${worker.id}`)=worker.salary
                    td(id=`valueIncrement-${worker.id}`, data-id=worker.id)=increment
                    td(id=`valueOtherBonus-${worker.id}`, data-id=worker.id, contenteditable='true').only-numbers.editable-cell.editable-other-bonus
                    td(id=`valueTotalGain-${worker.id}`, data-id=worker.id)=totalGain
                    td(id=`valueAFPDiscount-${worker.id}`, data-id=worker.id)=afpDiscount
                    td(id=`valueOtherDiscount-${worker.id}`, data-id=worker.id)=0
                    td
                        button.btn.btn-primary.waves-effect.goToCell(data-id=worker.id, data-tab="adminTab")
                            i.material-icons arrow_back
                            span Ver en planilla
                    td(id=`valueTotalDiscount-${worker.id}`, data-id=worker.id)=afpDiscount
                    td(id=`valueLiquidPayable-${worker.id}`, data-id=worker.id)=liquidPayable
                    td=n
                -n++
            each worker in admins
                -var increment = worker.salary * 0.055
                -var totalGain = worker.salary + increment
                -var afpDiscount = totalGain * 0.1271
                -var liquidPayable = totalGain - afpDiscount
                tr
                    td=n
                    td=worker.person.identification
                    td=worker.person.identificationExt
                    td=worker.person.paternalLastName
                    td=worker.person.maternalLastName
                    td=worker.person.marriedLastName
                    td=worker.person.firstName
                    td=worker.person.secondName
                    td=worker.person.nationality
                    td=worker.person.birthday
                    td=worker.person.sex
                    td=worker.charge
                    td=worker.startDate
                    td(id=`valueSalary-${worker.id}`)=worker.salary
                    td(id=`valueIncrement-${worker.id}`, data-id=worker.id)=increment
                    td(id=`valueOtherBonus-${worker.id}`, data-id=worker.id, contenteditable='true').only-numbers.editable-cell.editable-other-bonus
                    td(id=`valueTotalGain-${worker.id}`, data-id=worker.id)=totalGain
                    td(id=`valueAFPDiscount-${worker.id}`, data-id=worker.id)=afpDiscount
                    td(id=`valueOtherDiscount-${worker.id}`, data-id=worker.id)=0
                    td
                        button.btn.btn-primary.waves-effect.goToCell(data-id=worker.id, data-tab="adminTab")
                            i.material-icons arrow_back
                            span Ver en planilla
                    td(id=`valueTotalDiscount-${worker.id}`, data-id=worker.id)=afpDiscount
                    td(id=`valueLiquidPayable-${worker.id}`, data-id=worker.id)=liquidPayable
                    td=n
                -n++